<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pizza</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Lisää pizza</h1>
        
        <form action="/lisaapizza" method="POST">
            Valitse koko:
            <select name="kokobox" th:field="*{koko}">
                <option th:each="koko : ${koot}" th:value="${koko.id}" th:text="${koko.nimi}">Koko</option>
            </select>
            <br />
            Valitse pohja:
            <select name="pohjabox" th:field="*{pohja}">
                <option th:each="pohja : ${pohjat}" th:value="${pohja.id}" th:text="${pohja.nimi}">Pohja</option>
            </select>
            <br />
            Valitse kastike:
            <select name="kastikebox" th:field="*{kastike}">
                <option th:each="kastike : ${kastikkeet}" th:value="${kastike.id}" th:text="${kastike.nimi}">Kastike</option>
            </select>
            <br />
            Pizzan hinta:
            <input type="number" step="0.01" name="hinta"/> euroa
            <br />
            Pizzan nimi:
            <input type="text" name="pizza" th:required="required"/> 
            <br />
            <input type="submit" value="Lisää pizza"/>
        </form>
        <br />
        <a th:href="@{~/}">
            Takaisin etusivulle
        </a>
    </body>
</html>