<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pizza</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Lisää pizza</h1>
        <form action="/" method="POST">
            <input type="text" name="pizza"/>
            <input type="submit"/>
        </form>
        
        <select th:field="*{tayte}">
              <option th:each="tayte : ${taytteet}" th:value="${tayte.id}" th:text="${tayte.nimi}">Täyte</option>
        </select>
        
        <a th:href="@{~/}">
            Takaisin etusivulle
        </a>
    </body>
</html>