<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pizza</title>
        <meta charset="utf-8" />
        <style>
            .btn-link{
                border:none;
                outline:none;
                background:none;
                cursor:pointer;
                color:#0000EE;
                padding:0;
                text-decoration:underline;
                font-family:inherit;
                font-size:inherit;
            }
            .btn-link:active{
                color:#FF0000;
            }
        </style>
    </head>

    <body>
        <h1 th:text="${pizza.nimi}">Pizzan nimi</h1>
        <h3>Pohja</h3>
        <ul>
            <li th:each="pohja : ${pizza.pohja}">
                    <span th:text="${pohja.nimi}">Nimi
                    </span>
            </li>
        </ul>
        <h3>Kastike</h3>
        <ul>
            <li th:each="kastike : ${pizza.kastike}">
                    <span th:text="${kastike.nimi}">Nimi
                    </span>
            </li>
        </ul>
        <h3>Täytteet</h3>
        <ul>
            <li th:each="pizzatayte : ${pizza.taytteet}">
                <form th:action="${'/pizzataytteet/' + pizza.id + '/delete/' + pizzatayte.id}" method="POST">
                    <span th:text="${pizzatayte.formatnimi + pizzatayte.ohje}">Nimi</span>
                    <input th:unless="${pizzatayte.id < 0}" name="poisto" type="submit" value="(poista)" class="btn-link"/></form>
            </li>
        </ul>
        <form action="/pizzataytteet/" th:attrappend="action=${pizza.id}" method="POST">
            Lisää uusi täyte:
            <select name="taytebox" th:field="*{tayte}">
                <option th:each="tayte : ${taytteet}" th:value="${tayte.id}" th:text="${tayte.formatnimi}">Tayte</option>
            </select>
            <input type="text" name="ohje" placeholder="Lisäohje"/>
            <br />
            <input type="submit" value="Lisää täyte"/>
        </form>
        <br />
        <a th:href="@{~/}">Takaisin etusivulle</a>
    </body>
</html>