<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pizza</title>
        <meta charset="utf-8" />
        <style>
            .btn-link{
                border:none;
                outline:none;
                background:none;
                cursor:pointer;
                color:#0000EE;
                padding:0;
                text-decoration:underline;
                font-family:inherit;
                font-size:inherit;
            }
            .btn-link:active{
                color:#FF0000;
            }
        </style>
    </head>

    <body>
        <h1 th:text="${pizza.nimi}">Pizzan nimi</h1>
        <span th:text="@{Hinta: {hinta}(hinta=${pizza.hinta})}">Hinta</span>€
        <br />
        <span th:text="'Koko: '+${pizza.koko.nimi}">Koko</span>
        <br />
        <span th:text="${vegaani}">Vegaaninen</span>
        <h3>Pohja</h3>
        <ul>
            <li th:each="pohja : ${pizza.pohja}">
                <span th:text="${pohja.nimi}">Nimi
                </span>
            </li>
        </ul>
        <h3>Kastike</h3>
        <ul>
            <li th:each="kastike : ${pizza.kastike}">
                <span th:text="${kastike.nimi}">Nimi
                </span>
            </li>
        </ul>
        <h3>Täytteet</h3>
        <ul>
            <li th:each="tayte : ${pizza.taytteet}">
                <span th:text="${tayte.nimi + tayte.ohje}">Nimi
                </span>
            </li>
        </ul>
        <a th:href="@{~/pizzataytteet/{id}(id=${pizza.id})}">Muokkaa täytteitä</a>
        <br />
        <form method="POST" th:action="@{~/poistapizza/{Id}(Id=${pizza.id})}">
            <input type="submit" value="Poista" class="btn-link"/>
        </form>
        <br />
        <a th:href="@{~/}">Takaisin etusivulle</a>
    </body>
</html>