<!DOCTYPE html>
<html>

    <head>
        <title>Hakutulokset</title>
    </head>

    <body>
        <a th:href="@{~/}">
            Takaisin etusivulle
        </a>
        <br />
        <br />
        <form action="/search" method="POST">
             <input name="hakuteksti" type="text"/>
             <input type="submit" value="Hae pizzoja" />
        </form>
        
        <ul>
            <li th:each="arvo : ${pizzat}">
                <a th:href="@{~/pizza/{id}(id=${arvo.id})}">
                    <span th:text="${arvo.nimi}">Nimi</span>
                </a>
            </li>
        </ul>
    </body>

</html>
