<!DOCTYPE html>
<html>

    <head>
        <title>Pohjien ja täytteiden listaus</title>
    </head>

    <body>
        <h1>Maailman parhaiden ananaspitsojen täytteet</h1>

        <h3>Pohjat</h3>
        <ul>
            <li><span th:text="${eipohjaa.nimi}">Nimi</span></li>
            <li th:each="pohja : ${pohjat}">
                <span th:text="${pohja.nimi}">Nimi</span>
                <form method="POST" th:action="@{~/poistapohja/{pohjaId}(pohjaId=${pohja.id})}"><input type="submit" value="Poista"/></form>
            </li>
        </ul>

        <form action="/lisaapohja" method="POST">
            <input type="text" name="pohja"/>
            <input type="submit" value="Lisää pohja"/>
        </form>

        <h3>Kastikkeet</h3>
        <ul>
            <li><span th:text="${eikastiketta.nimi}">Nimi</span></li>
            <li th:each="kastike : ${kastikkeet}">
                <span th:text="${kastike.nimi}">Nimi</span>
                <form method="POST" th:action="@{~/poistakastike/{kastikeId}(kastikeId=${kastike.id})}"><input type="submit" value="Poista"/></form>
            </li>
        </ul>

        <form action="/lisaakastike" method="POST">
            <input type="text" name="kastike"/>
            <input type="submit" value="Lisää kastike"/>
        </form>

        <h3>Täytteet</h3>
        <ul>
            <li th:each="tayte : ${taytteet}">
                <span th:text="${tayte.nimi}">Nimi</span>
                <form method="POST" th:action="@{~/poistatayte/{tayteId}(tayteId=${tayte.id})}"><input type="submit" value="Poista"/></form>
            </li>
        </ul>

        <form action="/lisaatayte" method="POST">
            <input type="text" name="tayte"/>
            <input type="checkbox" name="vegaaninen" value="true">vegaaninen
            <input type="submit" value="Lisää täyte"/>
        </form>

        <a th:href="@{~/}">
            Takaisin etusivulle
        </a>

    </body>

</html>
