<!DOCTYPE html>
<html>

    <head>
        <title>Pohjien ja täytteiden listaus</title>
        <style>
            .btn-link{
                border:none;
                outline:none;
                background:none;
                cursor:pointer;
                color:#0000EE;
                padding:0;
                text-decoration:underline;
                font-family:inherit;
                font-size:inherit;
            }
            .btn-link:active{
                color:#FF0000;
            }
        </style>
    </head>

    <body>
        <h1>Maailman parhaiden ananaspitsojen täytteet</h1>

        <h3>Pohjat</h3>
        <ul>
            <li><span th:text="${eipohjaa.nimi}">Nimi</span></li>
            <li th:each="pohja : ${pohjat}">
                <form method="POST" th:action="@{~/poistapohja/{pohjaId}(pohjaId=${pohja.id})}">
                <span th:text="${pohja.nimi}">Nimi</span>
                <input type="submit" value="Poista" class="btn-link"/></form>
            </li>
        </ul>

        <form action="/lisaapohja" method="POST">
            <input type="text" name="pohja"/>
            <input type="submit" value="Lisää pohja"/>
        </form>

        <h3>Kastikkeet</h3>
        <ul>
            <li><span th:text="${eikastiketta.nimi}">Nimi</span></li>
            <li th:each="kastike : ${kastikkeet}">
                <form method="POST" th:action="@{~/poistakastike/{kastikeId}(kastikeId=${kastike.id})}">
                <span th:text="${kastike.nimi}">Nimi</span>
                <input type="submit" value="Poista" class="btn-link"/></form>
            </li>
        </ul>

        <form action="/lisaakastike" method="POST">
            <input type="text" name="kastike"/>
            <input type="submit" value="Lisää kastike"/>
        </form>

        <h3>Täytteet</h3>
        <ul>
            <li th:each="tayte : ${taytteet}">
                <form method="POST" th:action="@{~/poistatayte/{tayteId}(tayteId=${tayte.id})}">
                <span th:text="${tayte.nimi}">Nimi</span>
                <input type="submit" value="Poista" class="btn-link"/></form>
            </li>
        </ul>

        <form action="/lisaatayte" method="POST">
            <input type="text" name="tayte"/>
            <input type="checkbox" name="vegaaninen" value="true">vegaaninen
            <input type="submit" value="Lisää täyte"/>
        </form>

        <a th:href="@{~/}">
            Takaisin etusivulle
        </a>

    </body>

</html>
