<!DOCTYPE html>
<html>

    <head>
        <title>Pohjien ja täytteiden listaus</title>
    </head>

    <body>
        <h1>Maailman parhaiden ananaspitsojen täytteet</h1>

        <!--<p th:text="${lista}">
            :D
        </p>-->
        <h3>Pohjat</h3>
        <ul>
            <li th:each="pohja : ${pohjat}">
                    <span th:text="${pohja.nimi}">Nimi</span>
            </li>
        </ul>
        
        <form action="/lisaapohja" method="POST">
            <input type="text" name="pohja"/>
            <input type="submit"/>
        </form>
        
        <h3>Kastikkeet</h3>
        <ul>
            <li th:each="kastike : ${kastikkeet}">
                    <span th:text="${kastike.nimi}">Nimi</span>
            </li>
        </ul>
        
        <form action="/lisaakastike" method="POST">
            <input type="text" name="kastike"/>
            <input type="submit"/>
        </form>
        
        <h3>Täytteet</h3>
        <ul>
            <li th:each="tayte : ${taytteet}">
                    <span th:text="${tayte.nimi}">Nimi</span>
            </li>
        </ul>

        <form action="/lisaatayte" method="POST">
            <input type="text" name="tayte"/>
            <input type="checkbox" name="vegaaninen" value="true">vegaaninen
            <input type="submit"/>
        </form>
        
        <a th:href="@{~/}">
            Takaisin etusivulle
        </a>

    </body>

</html>
