<!DOCTYPE html>

<html>
    <head>
        <title>Tilastotietoa pizzoista</title>
    </head>
    
    <body>
        <h1>Tilastotietoa pizzoista</h1>
        <h3>Käytetyimmät pohjat pizzoissa</h3>
        <ul>
            <li th:each="pohja : ${pohjatilasto}">
                <span>[[${pohja.nimi}]]: [[${pohja.maara}]]</span>
            </li>
        </ul>
        
        <h3>Käytetyimmät kastikkeet pizzoissa</h3>
        <ul>
            <li th:each="kastike : ${kastiketilasto}">
                <span>[[${kastike.nimi}]]: [[${kastike.maara}]]</span>
            </li>
        </ul>
        
        <h3>Käytetyimmät täytteet pizzoissa</h3>
        <ul>
            <li th:each="tayte : ${taytetilasto}">
                <span>[[${tayte.nimi}]]: [[${tayte.maara}]]</span>
            </li>
        </ul>
        
        <br />
        <a th:href="@{~/ananaspizza/}">
            Takaisin etusivulle
        </a>
    </body>
</html>
